<div class="wrapper">
  <div class="container">
    <h1>Questions#answer</h1>
      <p><%= @question %></p>
      <p><%= @answer %></p>
      <div button><%= link_to "ask a new question", ask_path %></div>
  </div>
</div>


