

<div class="wrapper">
  <div class="container">
    <h1>Can you repeat the question ?</h1>
      <form action="/answer" method="get">
        <input type="text" name="question" placeholder="Name">
        <input type="submit">
    </form>
  </div>
</div>
